%h3 Messages

.row.messages-list
  .col-xs-5
    = partial 'shared/dropdown_select', locals: { list: ['Newest', 'Oldest', 'Services', 'Questions', 'Events'] }
  .col-xs-7
    %span{ class: 'search input-group', role: 'search' }
      %input{ type: 'search', class: 'form-control', placeholder: 'Search' }
      %span.input-group-btn
        %button{ class: 'btn btn-default', type: 'button' }
          %span.glyphicon.glyphicon-search

%br

%div
  - ['Basic service', 'Moet event booking', 'Happy birthday'].each do |title|
    = partial 'messages/item', locals: { title: title }

  %a.btn.btn-default.btn-100 Load more