%ul.breadcrumb
  %li
    %a{ href: '/' } Home
  %li.active Articles

%select.form-control
  %option Latest
  %option Models
  %option News
  %option Ambassadors
  %option Events

= partial 'articles/list'