%ul.breadcrumb
  %li
    %a{ href: '/' } Home
  %li
    %a{ href: '/articles' } Articles
  %li.active Sculpt S8

%img{ 'data-src' => 'holder.js/100%x300/sky/auto' }

%h1 Audi sculpts the S8 into art
%h4 A bronze sculpture commemorates the S8 launch
%small 07th Sept 2014 | <a href="#shares">3,500 shares</a> | <b>Tags:</b> <a href="/articls">S8</a>, <a href="/articles">Art</a>

%hr

%p To commemorate the launch of the newest luxury performance vehicle on the market, Audi has commissioned renowned casting foundry, Australian Bronze, to create a limited edition, bronze S8 sculpture.

%img{ 'data-src' => 'holder.js/100%x300/auto' }

%p With only 60 sculptures to be produced, the highly collectable pieces of art will be presented as a gift to customers who take ownership of Audi’s all-new luxury performance flagship, the S8 sedan.

%blockquote “Designed and forged by hand, each of these limited edition sculptures represents the high level of craftsmanship involved in building the new Audi S8.” <small>Andrew Doyle, Audi Australia, Managing Director

%p “We wanted something extremely special for our new S8 customers, and we believe it’s a very fitting representation of our most powerful S model to-date. It’s a celebration of the vehicle’s launch in Australia and and we’re delighted to present the S8 sculpture to our customers in recognition of their purchase,” said Mr Doyle.

%img{ 'data-src' => 'holder.js/100%x300/auto' }

%p Handcrafted using only the finest materials, the Audi S8 represents an unparalleled experience in performance, luxury, quality and craftsmanship. The uncompromising quality is obvious throughout every detail of the car from the aluminium space frame that’s built by a few select specialists, to the fine wood in the backs of the seats that is reworked by hand. It is authentic in every way.

.well
  %form{ role: 'form' }
    .form-group
      %label Register your interest for the S8
      .input-group
        %input{ type: 'email', class: 'form-control inline-input', placeholder: 'Email' }
        %button{ type: 'submit', class: 'btn btn-primary' } Subscribe
      %input{ type: 'checkbox' } Subscribe to Audi