#main {
  margin-top: 60px; }

.inline-input {
  width: 60% !important; }

.centre {
  text-align: center; }

footer {
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  border-top: solid 1px #e7e7e7;
  background-color: #f8f8f8; }
  footer ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0; }

span.old {
  font-size: 80%;
  font-weight: normal;
  color: red;
  font-style: italic;
  text-decoration: line-through; }

.finance-calculator-form, #time-form, #details-form, #finalise-booking {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px; }

.finance-calculator-close {
  top: 0;
  position: fixed; }

.finance-calculator-form ul {
  margin-top: 20px; }

.cta-footer {
  background-color: white;
  margin: 20px; }

.cta-footer .container {
  padding: 0;
  margin-left: -20px; }

.responsive-calendar .day .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1; }

.short-profile li {
  margin-left: -20px; }
.short-profile a {
  width: 100%; }

.time-input {
  width: 100%;
  padding: 5px;
  text-align: left;
  list-style: none; }

.btn-100 {
  width: 100%;
  margin-bottom: 10px; }

.modal-body .checkbox input {
  margin-left: 0; }
.modal-body .checkbox span {
  margin-left: 20px; }

.nav-car {
  text-align: center; }
  .nav-car h4 {
    margin-bottom: -5px; }
  .nav-car li > a {
    padding: 5px 15px; }

.list-group-item span.place {
  font-size: 300%;
  font-weight: bold; }

.trips-marker {
  margin-top: -70px; }
  .trips-marker .glyphicon-map-marker {
    font-size: 200%;
    margin-left: -30px; }

#map {
  position: absolute;
  width: 100%;
  height: 200px; }

.mechanic h5 {
  margin-bottom: 0; }
.mechanic span.glyphicon {
  font-size: 180%;
  margin-top: 10px;
  color: #428bca; }

.form-question textarea {
  margin-bottom: 10px; }

.media-meta .col-xs-6 {
  padding-left: 0; }

.glyphicon-lg {
  font-size: 1.5em; }

.cms-save-button {
  font-size: 1.2;
  margin-right: 10px; }

.cms-actions {
  position: fixed;
  right: 15px; }
  .cms-actions a {
    margin-bottom: 15px;
    font-size: 1.5em; }

.form-lg {
  margin: 0 -20px; }

.title-placard {
  margin: 0 0 10px -30px; }
  .title-placard input {
    font-size: 18px; }

.tt-dropdown-menu {
  background-color: white; }

.selectlist-cms-title {
  margin-left: -20px; }

.ab_tests input {
  width: 50px; }

.nav-search-form .dropdown-menu {
  position: relative; }
.nav-search-form .nav-search-select {
  margin-left: -15px; }
.nav-search-form .search {
  margin-right: -30px; }

.nav-search-results {
  display: block;
  background-color: white; }
  .nav-search-results h4 {
    margin-left: 15px; }
  .nav-search-results .type {
    font-size: 70%; }
  .nav-search-results .results {
    list-style: none;
    display: inline-block; }

.search-header {
  position: fixed;
  z-index: 1000;
  background-color: white;
  padding-bottom: 10px;
  width: 100%;
  margin-top: -10px; }
  .search-header .search-results-filter-1 {
    margin-left: 25px; }

.search-results {
  margin-top: 100px; }

.tab-content.profile {
  margin-top: 15px; }

.interest-item {
  display: inline-block;
  padding: 20px 0;
  margin: 5px;
  background-color: blanchedalmond;
  text-align: center; }

.interest-item.active {
  background-color: coral; }

.messages-list {
  margin-left: 5px; }

.panel {
  margin-bottom: 0px; }

.chat-window > div > .panel {
  border-radius: 5px 5px 0 0; }

.icon_minim {
  padding: 2px 10px; }

.msg_container_base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 300px;
  overflow-x: hidden; }

.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden; }

.msg_receive {
  padding-left: 0;
  margin-left: 0; }

.msg_sent {
  padding-bottom: 20px !important;
  margin-right: 0; }

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 100%; }

.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0; }

.messages > time {
  font-size: 11px;
  color: #ccc; }

.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex; }

img {
  display: block;
  width: 100%; }

.base_sent {
  justify-content: flex-end;
  align-items: flex-end; }

.msg_sent > time {
  float: right; }

.msg_container_base::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

.msg_container_base::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.msg_container_base::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

/*# sourceMappingURL=main.css.map */
