%footer
  .container
    .row.centre
      %small= "Audi © #{ Time.now.year }"
    .row
      .col-xs-4
        %h4 Site
        %ul
          %li
            %a{ href: '/privacy' } Subscribe
          %li
            %a{ href: '/privacy' } RSS
          %li
            %a{ href: '/privacy' } Privacy
          %li
            %a{ href: '/sitemap' } Sitemap
      .col-xs-4
        %h4 Audi
        %ul
          %li
            %a{ href: 'www.audi.com.au' } Main site
          %li
            %a{ href: '/finance' } Finance Calculator
          %li
            %a{ href: 'http://forms.audi.com.au/FindDealer.aspx' } Dealers
          %li
            %a{ href: 'http://www.audi.com/corporate/en/investor-relations.html' } Investors
      .col-xs-4
        %h4 Contact
        %ul
          %li
            %a{ href: '/feedback' } Feedback
          %li
            %a{ href: '/facebook' } Facebook
          %li
            %a{ href: '/instagram' } Instagram
