%li.dropdown
  %a{ href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' }
    = title
    %span.caret
  %ul{ class: 'dropdown-menu', role: 'menu' }
    - elements.each do |element|
      %li
        %a{ href: "#{ element[1][1] }" }= element[1][0]