%div{ class: 'placard', 'data-initialize' => 'placard' }
  .placard-popup
  %input{ class: 'form-control placard-field glass', type: 'text', value: "#{ value }" }
  .placard-footer
    %a{ class: 'placard-cancel', href: '#' } Cancel
    %button{ class: 'btn btn-primary btn-xs placard-accept', type: 'button' } Save