.container
  .row
    .span-sm-6
      %p
        I'd like to book a 
        %a{ href: '#' }= @type
        , at
        %a{ href: '#' } Event name.
        7pm on the 7th of January 2015, at Audi Centre Sydney. With
        %a{ href: '#' } 1 guest.

    %hr


    %a{ href: '#', class: 'btn btn-default btn-100' } Book