%ul{ class: 'nav nav-tabs', role: 'tablist' }
  %li{ class: 'active' }
    %a 1. Date
  %li
    %a 2. Time
  %li
    %a 3. Details

%h2 Make a booking

- if @type == 'Service'
  = partial '/book/service.haml'
- else # test-drive or anything else
  = partial '/book/test_drive.haml'