%h3 Update your password

%form.form
  .form-group
    %label New password
    %input{ placeholder: 'Enter password', class: 'form-control' }

  .form-group
    %label Confirm
    %input{ placeholder: 'Confirm your password', class: 'form-control' }

  .a{ class: 'btn btn-primary btn-100' } Update password