.panel.panel-default
  .panel-heading
    %h3.panel-title Test Drive in 3 Days
  .panel-body
    %p
      At
      %a{ href: '#' } Audi Sydney
      with
      %a{ href: '#' } John Smith
      at 9:00 am for an
      %a{ href: '#' } R8.

    %a{ href: '#', class: 'btn btn-default btn-100' } View booking

= partial 'articles/list'