.panel.panel-default
  .panel-heading
    %h3.panel-title Media management

  .panel-body
    = link_to 'Add media', class: 'btn btn-default btn-100'

    %hr

    %p Or choose something from the library

    .row.messages-list
      .col-xs-5
        = partial 'shared/dropdown_select', locals: { list: ['Newest', 'Oldest', 'Image', 'Video', 'Popularity'] }
      .col-xs-7
        %span{ class: 'search input-group', role: 'search' }
          %input{ type: 'search', class: 'form-control', placeholder: 'Search' }
          %span.input-group-btn
            %button{ class: 'btn btn-default', type: 'button' }
              %span.glyphicon.glyphicon-search

    .media-images
      - 9.times do
        .col-xs-3
          %img{ 'data-src' => 'holder.js/75x75/' }
            %span.glyphicon.glyphicon-pencil