.panel.panel-default
  .panel-heading
    %h3.panel-title Add media

  .panel-body
    = link_to 'From desktop', class: 'btn btn-default btn-100'

    %hr
    %input.form-control{ placeholder: 'Media URL' }
    = link_to 'From URL', class: 'btn btn-default btn-100'
