%h1  Mark's A4 Avant

%iframe{ width: '100%', height: '300px', frameBorder: '0', src: 'https://a.tiles.mapbox.com/v4/vladiim.k6j8ml0f/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidmxhZGlpbSIsImEiOiJwdnVmSjFrIn0.jezrnSxoWV4AamZ1nI2z1g' }

%h3 Details

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Details
  %tbody
    %tr
      %td Location
      %td Kassel Germany
    %tr
      %td Distance
      %td 14,457 km
    %tr
      %td Estimated delivery
      %td 2 months
    %tr
      %td
        %b Stage
      %td
        %b Built, about to ship

= link_to 'Ask question', class: 'btn btn-primary'

%br