%h3 Your RS4 is worth $93,459

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.

%hr

%h4 Upgrade for the same weekly payment

%img{ 'data-src' => 'holder.js/100%x200/sky/auto' }

%p
  Upgrade to the
  %a 2015 Audi TT 
  for the same weekly payment plan you're currently on.

= link_to 'Upgrade to the 2015 TT', class: 'btn btn-primary btn-100'

%hr

%h4 Resale

We're happy to help you resell you RS4 if you wish.

= link_to 'Sell RS4', class: 'btn btn-default btn-100'