%h3 Warranty complete

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

%hr

%table.table.table-striped
  %thead
    %tr
      %th Packages
      %th Cost
      %th
  %tbody
    %tr
      %td 1 year comprehensive
      %td $1,000
      %th= link_to 'Upgrade', class: 'btn btn-default'
    %tr
      %td 3 year comprehensive
      %td $2,500
      %th= link_to 'Upgrade', class: 'btn btn-default'