- if @user.trent?
  .hero-car
    %h3
      %a{ href: '/cars/rs4' } Trent's RS 4
    %img{ 'data-src' => 'holder.js/100%x200/sky/auto' }
    %span A-grade | 22nd | 200 trips | 12 services

- elsif @user.admin?

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{ href: '/cms' } CMS TODO: 6 tasks
    .panel-body
      = partial 'cms/item', collection: content_list
      %hr
      %a{ href: '/cms', class: 'btn btn-primary btn-100' } View all tasks

  %h3
    %a{ href: '/dashboards' } Admin dashboard
  %img{ 'data-src' => 'holder.js/100%x200/sky/auto' }
  %span 3% lead growth | 4% sales growth

- elsif @user.mark?
  %h3
    %a{ href: '/cars/locator' } Locate Your A4 Avant
  %iframe{ width: '100%', height: '300px', frameBorder: '0', src: 'https://a.tiles.mapbox.com/v4/vladiim.k6j8ml0f/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidmxhZGlpbSIsImEiOiJwdnVmSjFrIn0.jezrnSxoWV4AamZ1nI2z1g' }
  %span Kassel Germany | 14,457 km | 2 months away

- unless @user.admin?
  = partial 'articles/list'