%img{ 'data-src' => 'holder.js/100%x200/sky/auto' }

.well
  %h3 The home for Audi owners and fans.
  %p For access to Audi content, news, events & more subscribe now.

  %form{ role: 'form' }
    .form-group
      .input-group
        %input{ type: 'email', class: 'form-control inline-input', placeholder: 'Email' }
        %button{ type: 'submit', class: 'btn btn-primary' } Subscribe

= partial 'articles/list'